#sudo xrandr --newmode "1920x1080_60.00"  173.00  1920 2048 2248 2576  1080 1083 1088 1120 -hsync +vsync
#sudo xrandr --addmode eDP-1 "1920x1080_60.00"
#xrandr --output eDP-1 --mode "1920x1080_60.00"
export LIBVA_DRIVERS_PATH=/usr/local/lib/dri/
export LIBVA_DRIVER_NAME=iHD
export MOZ_DISABLE_RDD_SANDBOX=1
export MOZ_X11_EGL=1
